<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <title>My Profile :: Hotel Name</title>

    <link rel="icon" href="{{ url_for('static', filename='images/H.png') }}">

    <meta property="og:url"           content="http://hotel-name-dv.herokuapp.com" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="Hotel Name" />
		<meta property="og:description"   content="Description about Hotel Name" />
		<meta property="og:image"         content="" />
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Hotel Name">

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <meta name="description" content="Hotel Name">

        <!-- Custom CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myprofile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myprofile-home.css') }}">

        <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


        <!-- Bootstrap CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- Owl Carousel CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.theme.default.css') }}">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">


        <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">

  		  <!-- Animate.css -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">

  		  <!-- Videojs -->
  	<link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet" />
  	<link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet"/>
  	<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

        <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>


    <header>

      <ul id="dropdown1" class="dropdown-content">
        <li>
          <a href="{{ url_for('myaccount') }}">My Profile</a>
        </li>
        <li>
          <a href="{{ url_for('user_booking') }}">My Bookings</a>
        </li>
      </ul>

      <nav>
        <div class="nav-wrapper">
          <ul class="right">
            {% if user_id %}
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><img class="img-fluid img-responsive" src="{{ url_for('static', filename='images/user.svg') }}">&nbsp;&nbsp;&nbsp;Hey {{ user_name }} &nbsp;&nbsp;&nbsp;<img src="{{ url_for('static', filename='images/chevron-down.svg') }}"></a></li>
              <li><a href="{{ url_for('logout') }}"><img class="img-fluid img-responsive" src="{{ url_for('static', filename='images/exit.svg') }}">&nbsp;&nbsp;&nbsp;Logout</a></li>
            {% else %}
              <li><a href="{{ url_for('login') }}"><img class="img-fluid img-responsive" src="{{ url_for('static', filename='images/user.svg') }}">&nbsp;&nbsp;&nbsp;Login / Signup</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <nav>
        <div class="nav-wrapper">
          <a href="{{ url_for('index') }}" class="brand-logo">Hotel Name</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><img src="{{ url_for('static', filename='images/menu.svg') }}"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('room') }}">Rooms & Suites</a></li>
            <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('room') }}">Rooms & Suites</a></li>
        <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
      </ul>

    </header>

<br><br>



<article class="container container-fluid">
  <div class="clearfix row text-center">
    <div class="col s12 m12 l12 xl12 center">
      <h2> My Profile </h2>
        <hr style="border: 1px solid brown; width: 5%">
    </div>
  </div>
  <div class="clearfix row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <table class="responsive-table centered">
        <thead>
          <tr>
            <th> Full Name </th>
            <th> Username </th>
            <th> Email ID </th>
            <th> Phone Number </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{ us_detail.fname ~ ' ' ~ us_detail.lname }} </td>
            <td> {{ us_detail.username }} </td>
            <td> {{ us_detail.email }} </td>
            <td> {{ us_detail.contactno }} </td>
          </tr>
        </tbody>
      </table>

        <br><br>

    </div>
  </div>
</article>

    <br><br>

<section class="container container-fluid" id="editmp">
  <div class="clearfix row text-center">
    <div class="col s12 m12 l12 xl12 center">

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} center">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

    </div>
  </div>
      <br>
  <div class="clearfix row text-center">
    <div class="col s12 m12 l12 xl12 center">

        <h2> Edit Profile </h2>

    </div>
  </div>
      <br><br>
  <form class="" action="" method="post">

      {{ emp.hidden_tag() }}

    <div class="clearfix row text-center">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 my-auto" id="editmpone">

        <div class="form-group">

          {{ emp.fname.label(class='col-form-label') }}

          {% if emp.fname.errors %}
            {{ emp.fname(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in emp.fname.errors %}
                <span>
                  {{ error }}
                </span>
              {% endfor %}
            </div>
          {% else %}
            {{ emp.fname(class='form-control') }}
          {% endif %}

        </div>

      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 my-auto" id="editmpone">

        <div class="form-group">

          {{ emp.lname.label(class='col-form-label') }}

          {% if emp.lname.errors %}
            {{ emp.lname(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in emp.lname.errors %}
                <span>
                  {{ error }}
                </span>
              {% endfor %}
            </div>
          {% else %}
            {{ emp.lname(class='form-control') }}
          {% endif %}

        </div>

      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 my-auto" id="editmpone">

        <div class="form-group">

          {{ emp.username.label(class='col-form-label') }}

          {% if emp.username.errors %}
            {{ emp.username(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in emp.username.errors %}
                <span>
                  {{ error }}
                </span>
              {% endfor %}
            </div>
          {% else %}
            {{ emp.username(class='form-control') }}
          {% endif %}

        </div>

      </div>
    </div>
    <div class="clearfix row text-center">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-auto" id="editmpone">

        <div class="form-group">

          {{ emp.email.label(class='col-form-label') }}

          {% if emp.email.errors %}
            {{ emp.email(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in emp.email.errors %}
                <span>
                  {{ error }}
                </span>
              {% endfor %}
            </div>
          {% else %}
            {{ emp.email(class='form-control') }}
          {% endif %}

        </div>

      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-auto" id="editmpone">

        <div class="form-group">

          {{ emp.contactno.label(class='col-form-label') }}

          {% if emp.contactno.errors %}
            {{ emp.contactno(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in emp.contactno.errors %}
                <span>
                  {{ error }}
                </span>
              {% endfor %}
            </div>
          {% else %}
            {{ emp.contactno(class='form-control', minlength=10, maxlength=10) }}
          {% endif %}

        </div>

      </div>
    </div>
    <div class="clearfix row text-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="editmpone">

        <div class="form-group">

          {{ emp.submit(class='form-control btn btn-outline-primary') }}

        </div>

      </div>
    </div>
  </form>
</section>


<br><br>


  <aside class="container container-fluid">
    <div class="clearfix row">
      <div class="col s12 m12 l12 xl12 center">

        <a href="{{ url_for('delete') }}">
          <button class="btn btn-outline-danger" type="button" name="button">Delete my Account</button>
        </a>

      </div>
    </div>
  </aside>



<br><br><br>


<footer class="container container-fluid jumbotron" id="footer">
<div class="clearfix row text-center">
  <div class="col-xs-4 col-sm-4 col-lg-4 col-xl-4 my-auto">
    <h4> Hotel Name </h4>
  </div>
  <div class="col-xs-4 col-sm-4 col-lg-4 col-xl-4 my-auto">
    <h5> &copy; &nbsp;&nbsp;&nbsp; 2020. All Rights Reserved. </h5>
  </div>
  <div class="col-xs-4 col-sm-4 col-lg-4 col-xl-4 my-auto">
    <ul>
      <li><a href="https://www.linkedin.com" target="_blank"><img src="{{ url_for('static', filename='images/linkedin.png') }}"></a></li>
      <li><a href="https://www.instagram.com" target="_blank"><img src="{{ url_for('static', filename='images/instagram.png') }}"></a></li>
      <li><a href="https://www.facebook.com" target="_blank"><img src="{{ url_for('static', filename='images/facebook.png') }}"></a></li>
    </ul>
  </div>
</div>
</footer>


    <!-- Bootstrap JS File -->
<script src="{{ url_for('static', filename='js/jquery-slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>


    <!-- VideoJS -->
<script src="https://vjs.zencdn.net/7.8.2/video.js"></script>

    <!-- Owl Carousel JS File -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>


    <!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/materializecss/mixup.js') }}"></script>


    <!-- SweetAlert JS File -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <!-- Stripe.js File -->
<script src="https://js.stripe.com/v3/"></script>



</body>
</html>
